* {
	margin: 0px;
	padding: 0px;
}

body{
   font-size: 15px; 
   font-family: "ו"; 
   background-color:#f4fffb;
}

a {
	cursor: pointer;
	text-decoration: none;
	color: #666;
	font-family: "ו";
	font-size: 12px;
}

a:link {
	color: #0041D3;
	text-decoration: none
}

a:visited {
	color: #0041D3;
	text-decoration: none
}

a:hover {
	color: #ff7000;
	text-decoration: underline
}

a:active {
	color: #bc2931;
	text-decoration: underline
}

.font1{
   font-size:14px;
   font-family:"ו";
   font-weight:600;
}